!!! 5
%html
	%head
		%link(href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic' rel='stylesheet' type='text/css')
		%meta(charset='utf-8')
		%title
			BondydaaDotCom
		%link(rel='stylesheet' type='text/css' hret='main.css')
	%body
		%header
			%h1(class='logo')
				Bondydaa
			.nav
				%ul
					%a(href='index.html')
						%li Home
					%a(class='selected' href='resume.html')
						%li About
					%a(href='index.html')
						%li Blog
					%a(href='index.html')
						%li Experiments							
		.container
			%section(class='socialLinks')
				%section
					%ul
						%li
							%a(href='http://www.linkedin.com/pub/david-bondy/7/209/25b' target="blank") Linkedin
						%li
							%a(href='https://www.facebook.com/bondydaa' target="blank") Facebook
						%li
							%a(href='https://www.twitter.com/DavidBondy' target='blank')
				%h2 Resume
				%h3 Education
				%h4 The Starter League
				%p Advance HTML & CSS 
				%span(class='resumeDate') 2013 Spring Quarter
				%h4 Unversity of Dayton
				%span(class='resumeDate') May 2010
				%p Major: Bachelor of Fine Art Photography, English Minor
				%h3 Skills
				%ul
					%li Proficient understanding of HTML, CSS, HAML, SASS
					%li Well-rounded knowledge of Adobe Photoshop, InDesign, and Illustrator (CS3-5)
					%li Strengths include self-motivation, detail-oriented and excellent communication skills
				%h3 Experience
				%h4 The Michelson Organization
				%h5 Graphic Design
				%p Redesigned floor plans for use on the company website
				%h4 Debbie's Shop
				%h5 Photography Specialist
				%p Photographed products to be put online for sale. Managed and maintained website photographs
				%h4 Camp Larel
				%h5 Photography Department Head
				%p Created and implemented camper curriculum. Assisted the Digital Media Department in taking pictures of camper activities for the website and yearbook.
				%h3 Activities & Interests
				%ul
					%li The Starter League
					%li Phi Kappa Psi
					%li Scuba Diving International Open Water Certified
					%li Vail Resorts College Program
			%footer
				%ul
					%li © David A. Bondy
					%li
						%a(href='mailto:bondydaa@gmail.com') bondydaa@gmail.com
					%li
						%a(href='https://twitter.com/DavidBondy')@davidbondy