/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.sass */
body {
  font-size: 62.5%;
  font-family: "Noto Sans" Sans-Serif;
  line-height: 1.5em;
  background: url("../../lightwool.png") repeat;
  background-color: #34495e;
  margin-bottom: 0.5em;
}

/* line 18, ../sass/screen.sass */
header {
  background: #2ecc71;
  width: 100%;
  height: 4em;
  position: relative;
}

/* line 24, ../sass/screen.sass */
.logo {
  font-size: 3.6em;
  float: left;
  margin: 0.5em;
}

/* line 29, ../sass/screen.sass */
.nav {
  font-size: 1.4em;
  padding: 1em;
  position: absolute;
  right: 9em;
  bottom: 0.2em;
}
/* line 35, ../sass/screen.sass */
.nav li {
  display: inline;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
.nav li:active, .nav li:focus {
  outline: none;
}
/* line 38, ../sass/screen.sass */
.nav a:link {
  text-decoration: none;
}

/* line 41, ../sass/screen.sass */
.container {
  position: relative;
  clear: both;
  line-height: 2.5em;
  margin: 1% auto;
  width: 100%;
  max-width: 1000px;
  border: 2px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 51, ../sass/screen.sass */
.socialLinks {
  text-align: center;
  font-size: 1.8em;
  padding: 1.5em;
}
/* line 55, ../sass/screen.sass */
.socialLinks li {
  display: inline;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
.socialLinks li:active, .socialLinks li:focus {
  outline: none;
}
/* line 58, ../sass/screen.sass */
.socialLinks a:link {
  text-decoration: none;
}

/* line 61, ../sass/screen.sass */
.resume {
  margin: 1%;
  max-width: 90%;
}

/* line 65, ../sass/screen.sass */
h2 {
  font-size: 3em;
}

/* line 68, ../sass/screen.sass */
h3 {
  font-size: 2.4em;
}

/* line 71, ../sass/screen.sass */
h4 {
  font-size: 2em;
  color: red;
}

/* line 75, ../sass/screen.sass */
h5 {
  font-size: 1.8em;
  color: orange;
}

/* line 79, ../sass/screen.sass */
p, li {
  font-size: 1.4em;
  color: blue;
}

/* line 87, ../sass/screen.sass */
h2 ~ h3 {
  position: relative;
  left: 1.2em;
}

/* line 90, ../sass/screen.sass */
h3 ~ h4 {
  position: relative;
  left: 1.8em;
}

/* line 93, ../sass/screen.sass */
h4 ~ h5, h4 + p {
  position: relative;
  left: 3em;
}

/* line 96, ../sass/screen.sass */
h5 + p, h3 ~ ul {
  position: relative;
  left: 4.8em;
}
